*{
     
    margin: 0;
    padding: 0;

}

.logo{

    width: 100%;
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
     
}
.logo img{
     
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;


}
.navbar{
    display: flex;
}

.nav-list{

    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
       
.nav-list li{
    list-style: none;
    padding: 26px 30px;


}
.nav-list li a :hover {
    text-decoration: none;
    color: rgb(211, 203, 203);


}
.rightnav{

    background-color: rgba(0, 0, 0, 0.7);
    
    width: 50%;
    text-align: right;

}
#search{

    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.side{

    width: 100%;
    height: 100%;
}
.img{

    border: 5%;
    
    display: flex;
}
.long{

    display: flex;
    caption-side: top;
    height: 50%;
    width: 50%;
}
.small{
    display: flex;
}
.shot{
    display: flex;
    caption-side: top;
    height: 50%;
    width: 50%;
}
.all{

    margin: 30%;
    width: 100%;

    
}
.from{
    height: 100%;
    width: 100%;
}
.sini{

    margin: 6%;
    color: chartreuse;
}
.new{

    display: flex;
    caption-side: top;
    height: 20%;
    width: 20%;
}
.old{

  width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}